
.mainbox-title{
    background-color: rgb(211, 211, 211, 0.5);
    color: black;
    height: 50px;
    width: 50vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin: 1px auto;

}

.mainbox{
    background-color: rgb(211, 211, 211, 0.5);
    border-radius: 4px;
    margin: 50px;
    padding: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin: 1px auto;

}
.mainbox_video{
    background-color: rgb(211, 211, 211, 0.5);
    border-radius: 4px;
    margin: 50px;
    padding: 20px;
    width: 460px;
    height: 474px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin: 1px auto;

}

.sidebyside{
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    margin: 10px auto;

}

.sidebyside_icon{
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    margin: 1px auto;

}

body {
  background-image: url("media/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}